/node_modules
/public/hot
/public/storage
/public/js/*
/public/css/*
/public/images/*
/public/fonts/*
/public/assets/*
/public/uploads/*
!/public/uploads/.gitkeep
/public/.htaccess
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
composer.lock
npm-debug.log
.env
.env.testing
